:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px#252525;
    background-color: #4d4d4d;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #1f1f1f, #3b3b3c, #595a5c, #787b7d, #989ea0);
    height: 1875px;
}

.ludosLogo {
    margin-top: -50px;
    margin-bottom: -100px;
}

.infoMain {
    font-size: 40px;
    margin-top: 100px;
}

.entry {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 80px;
}

.button {
    top: 190px;
    margin-left: 60px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #e43a3a;
    border-style: solid;
    border-color: #a71d1d;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #941414;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.about {
    top: 110px;
    margin-left: 135px;
    display: block;
    width: 850px;
    position: absolute;
    background-color: #ff9900;
    border-style: solid;
    border-color: #944f00;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #662901;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.button:hover {
    background-color: #dbb718;
    box-shadow: 6px 4px 4px 2px #7c5706;
    border-color: #a78209;
    transform: scale(0.95);
}

.button:active {
    transform: scale(0.97);
}

.about:hover {
    background-color: #db7018;
    box-shadow: 6px 4px 4px 2px #5f2b00;
    border-color: #a75509;
    transform: scale(0.95);
}

.about:active {
    transform: scale(0.97);
}

.size-warning {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 50px;
}


/* Games List */

.games-list {
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
    right: 575px;
    margin-bottom: 800px;
}


/* EaglercraftX 1.8.8 */

.eaglercraftx:hover {
    background-color: #3c18db;
    box-shadow: 6px 4px 4px 2px #25067c;
    border-color: #2b09a7;
    transform: scale(0.95);
}

.eaglercraftx:active {
    transform: scale(0.97);
}


/* Eaglercraft 1.5.2 */

.eaglercraft:hover {
    background-color: #3c18db;
    box-shadow: 6px 4px 4px 2px #25067c;
    border-color: #2b09a7;
    transform: scale(0.95);
}

.eaglercraft:active {
    transform: scale(0.97);
}


/* N-Gon */

.n-gon:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.n-gon:active {
    transform: scale(0.97);
}


/* N-Gon Old */

.n-gon-old:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.n-gon-old:active {
    transform: scale(0.97);
}


/* Planetesimals */

.planet:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.planet:active {
    transform: scale(0.97);
}


/* Cookie Clicker */

.cookie-clicker:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.cookie-clicker:active {
    transform: scale(0.97);
}


/* 1v1.lol */

.vlol:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.vlol:active {
    transform: scale(0.97);
}


/* Ten Minutes Until Dawn */

.ten-mins:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.ten-mins:active {
    transform: scale(0.97);
}


/* 2048 */

.number-game-lol:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.number-game-lol:active {
    transform: scale(0.97);
}


/* 2048 Multitask */

.number-game-multi:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.number-game-multi:active {
    transform: scale(0.97);
}


/* 2048 Big */

.number-game-big:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.number-game-big:active {
    transform: scale(0.97);
}


/* 1 */

.number-game-small:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}

.number-game-small:active {
    transform: scale(0.97);
}


/* EaglercraftX 1.8.8 */

.eaglercraftx {
    top: 290px;
    display: block;
    width: 1100px;
    position: absolute;
    margin-left: -50px;
    background-color: #109cc7;
    border-style: solid;
    border-color: #067b8a;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #06607c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* Eaglercraft 1.5.2 */

.eaglercraft {
    top: 390px;
    display: block;
    width: 1100px;
    position: absolute;
    margin-left: -50px;
    background-color: #109cc7;
    border-style: solid;
    border-color: #067b8a;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #06607c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* N-Gon */

.n-gon {
    top: 500px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* N-Gon Old */

.n-gon-old {
    top: 600px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* Planetesimals */

.planet {
    top: 700px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* Cookie Clicker */

.cookie-clicker {
    top: 800px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* 1v1.lol */

.vlol {
    top: 900px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* Ten Minutes Until Dawn */

.ten-mins {
    top: 1000px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* 2048 */

.number-game-lol {
    top: 1100px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* 2048 Multitask */

.number-game-multi {
    top: 1200px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* 2048 Big */

.number-game-big {
    top: 1300px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}


/* 1 */

.number-game-small {
    top: 1400px;
    display: block;
    width: 1000px;
    position: absolute;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #067c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}